# This solves the error:
# "no-name-in-module: No name 'BaseModel' in module 'pydantic'"
#
# link: https://github.com/samuelcolvin/pydantic/issues/1961#issuecomment-759522422

[MASTER]
extension-pkg-whitelist=pydantic

# Fix linting warning: no-member: Module 'alembic.op' has no 'create_table'
# member
disable=no-member
