# This solves the error:
# "no-name-in-module: No name 'BaseModel' in module 'pydantic'"
#
# link: https://github.com/samuelcolvin/pydantic/issues/1961#issuecomment-759522422

[MASTER]
extension-pkg-whitelist=pydantic

# Fix linting warning: no-member: Module 'alembic.op' has no 'create_table'
# member
disable=no-member

# Fixes: wrong-import-order: third party import "from fastapi.testclient import
# TestClient" should be placed before "from app.main import app"
# https://stackoverflow.com/a/52468110/647606
[IMPORTS]
known-third-party=app
